canvas[data-v-b9831e70] {
  position: absolute;
  height: 100%;
  width: 100%;
}
.va-card--flex[data-v-7bcf918c] {
  display: flex;
  flex-direction: column;
}
.va-chart {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.va-chart > * {
  height: 100%;
  width: 100%;
}
.va-chart canvas {
  width: 100%;
  height: auto;
  min-height: 20px;
}
.region-revenue-table[data-v-f4740b66] tbody tr {
  border-top: 1px solid var(--va-background-border);
}
.va-timeline-item[data-v-96a7e8cc] {
  display: table-row;
}
.va-timeline-item__icon-cell[data-v-96a7e8cc] {
  vertical-align: top;
  height: 1px;
  padding-right: 1rem;
}
.va-timeline-item__icon[data-v-96a7e8cc] {
  width: 24px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.va-timeline-item__icon[data-v-96a7e8cc]:after {
  content: '';
  width: 2px;
  height: 100%;
  background: var(--va-background-border);
}
.va-timeline-item__content[data-v-96a7e8cc] {
  margin-bottom: 1rem;
}
.va-timeline-item__content-cell[data-v-96a7e8cc] {
  width: 100%;
}
.va-timeline-item__date-cell[data-v-96a7e8cc] {
  vertical-align: top;
  color: var(--va-secondary);
  text-wrap: nowrap;
  white-space: nowrap;
  padding-left: 0.5rem;
  text-align: end;
}
.va-timeline-item:last-child .va-timeline-item__icon[data-v-96a7e8cc]:after {
  background: transparent;
}
