.page-title[data-v-b45ca1a4] {
  font-size: 1.875rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}
.search-input[data-v-b45ca1a4] {
  min-width: 250px;
}
@media (max-width: 768px) {
  .page-title[data-v-b45ca1a4] {
    font-size: 1.5rem;
  }
  .search-input[data-v-b45ca1a4] {
    min-width: 200px;
  }
}
